.social-login-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
  }
  .social-login-icons svg {
    width: 40px;
  }
  
  .social-icon-1,
  .social-icon-1-1,
  .social-icon-2,
  .social-icon-2-2,
  .social-icon-3,
  .social-icon-3-3,
  .social-icon-4,
  .social-icon-4-4,
  .social-icon-5,
  .social-icon-5-5 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 20px 0 0px 0;
  }
  
  .icon svg {
    fill: #111;
  }
  
  .socialcontainer {
    height: 80px;
    overflow: hidden;
  }
  .social-icon-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0);
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  }
  .social-icon-1 svg,
  .social-icon-2 svg,
  .social-icon-3 svg,
  .social-icon-4 svg,
  .social-icon-5 svg {
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .social-icon-1-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0, 0);
  }
  .socialcontainer:hover .social-icon-1 {
    transform: translateY(-70px);
  }
  .socialcontainer:hover .social-icon-1 svg,
  .socialcontainer:hover .social-icon-2 svg,
  .socialcontainer:hover .social-icon-3 svg,
  .socialcontainer:hover .social-icon-4 svg,
  .socialcontainer:hover .social-icon-5 svg {
    opacity: 1;
  }
  .social-icon-2 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: linear-gradient(
      72.44deg,
      #ff7a00 11.92%,
      #ff0169 51.56%,
      #d300c5 85.69%
    );
  }
  .socialcontainer:hover .social-icon-2 {
    transform: translateY(-70px);
  }
  .social-icon-3 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: #0077B5;
  }
  
  .socialcontainer:hover .social-icon-3 {
    transform: translateY(-70px);
  }
  .social-icon-4 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  
    background: linear-gradient(
      180deg,
      rgba(129, 34, 144, 1) 0%,
      rgba(77, 34, 124, 1) 91%
    );
  }
  
  .socialcontainer:hover .social-icon-4 {
    transform: translateY(-70px);
  }


  .social-icon-5 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  
    background: linear-gradient(
      180deg,
      #008000 0%,
      #008000 91%
    );
  }
  
  .socialcontainer:hover .social-icon-5 {
    transform: translateY(-70px);
  }





  .resume-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: #024CAA; /* Tailwind bg-gray-800 */
    padding: 8px 12px; /* Tailwind px-3 py-2 */
    border-radius: 9999px; /* Tailwind rounded-full */
    color: white;
    letter-spacing: 0.05em; /* Tailwind tracking-wider */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1); /* Tailwind shadow-xl */
    font-family: monospace; /* Tailwind font-mono */
    width: 150px; /* Tailwind w-[150px] */
    transition: transform 0.5s, background-color 0.5s, box-shadow 0.5s;
    
  }
  
  .resume-button:hover {
    background-color: #EC8305; /* Tailwind hover:bg-gray-900 */
    transform: scale(1.05); /* Tailwind hover:scale-105 */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Tailwind hover:ring-1 */
  }
  
  .resume {
    width: 20px; /* Tailwind w-5 */
    height: 20px; /* Tailwind h-5 */
    animation: bounce 1s infinite; /* Tailwind animate-bounce */
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25%);
    }
  }
  



  @media (max-width: 768px) {
    .resume-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }






